*{
    margin:0;
}


nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}
a{
    color: white;
    text-decoration: none;
}
.it{
    display: flex;
    margin-right: 10px;
}

i{
    font-size: 25px;
    color: white;
}i:hover{
    color:orange;
}
h1{
    color: aliceblue;
}

 button{
    background-color: #f44546;
    margin-left: 10px;
    border: 2px white solid;
}
button:hover{
    a{color: white;}
    background-color: orange;
}
.container{
    width: 100vw;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    background-color: rgb(42, 42, 42);

}
.container img{
    height: 70vh;
    width: 50vw;
   
}

.image{
    height: 95vh;
    width: 100vw;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,45,0.3),rgba(0,0,45,0.5)),url(food1.jpeg);

}
.cont{
    color: white;
}

.cont h2{
    margin-top: 30vh;
    font-size: 50px;
    font-weight: bolder;
    font-family: Amarante;
}
.cont .sec{
    margin-top: 30px;
}

.steps{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content:space-around;
    align-content: center;
    align-items: center;
    text-align: center;

}
.one{
    width: 25vw;
    border: 2px solid black;
    height: 80vh;
}
.second{
    width: 25vw;
    border: 2px solid black;
    height: 80vh;
}
.third{
    width: 25vw;
    border: 2px solid black;
    height: 80vh;
}
.steps img{
    width: 100%;
    height: 50vh;
}
.steps img:hover{
    transform: scale(1.02);
}
h3{
    font-family: Amarante;
    font-weight: bold;

}

.mes{
    margin-top: 20px;
}
.mes a{
    color: blue;
}
.container h1{
    color: aliceblue;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 50px;
    
}
.step h1{
    color: black;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: Trade Winds;
    
}
.reviews h1{
    color: black;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 50px;
    font-family: Trade Winds;
    
}

.reviw{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.rev1{
    width: 20vw;
    height: 70vh;
    border: 2px black solid;
    border-radius: 50px;
    /* background-color: rgb(143, 199, 143); */
    color:white;
    background-color: rgb(47, 46, 46);
    text-align: center;
    font-weight: bolder;
}
.rev2{
    width: 20vw;
    height: 70vh;
    border: 2px black solid;
    border-radius: 50px;
    /* background-color: rgb(198, 164, 101); */
    background-color: rgb(47, 46, 46);
    color: white;
    text-align: center;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.rev3{
    width: 20vw;
    height: 70vh;
    border: 2px black solid;
    border-radius: 50px;
    color:white;
    background-color: rgb(47, 46, 46);
    text-align: center;
    font-weight: bolder;
}
.rev4{
    width: 20vw;
    height: 70vh;
    border: 2px black solid;
    border-radius: 50px;
    background-color: rgb(47, 46, 46);
    color: white;
    text-align: center;
    font-weight: bolder;
}

.end ul{
    list-style-type: none;
    color:aliceblue;

}
.end ul li{
    margin-top: 20px;
    margin-bottom: 20px;
}
.end2{
    display: flex;
    justify-content: space-around;

}
.end h6{
    color: aliceblue;
}
.end{
    width: 100vw;
    height:60vh;
    background-color: rgb(46, 44, 44);
    margin-top: 40px;
    text-align: center;
}
.head{
    background-color: #f44546;
    border-radius: 50px;
    width: 95%;
}
@media screen and (max-width: 500px) {
    nav{
        flex-direction: column;
    }
    button{
        height: 30px;
        margin-top: 20px;
    }
    nav i{
        margin: 20px;
        
    }
    .end{
        height: 70vh;
    }
    
    .reviw{
        flex-direction: column;
        gap: 20px;
        
    }
    .carousel-item img{
        width: 90vw;
        height: 200px;
    }
    .rev1{
        width: 300px;
        height: 400px;
    }
    .rev2{
        width: 300px;
        height: 400px;
    }
    .rev3{
        width: 300px;
        height: 400px;
    }
    .rev4{
        width: 300px;
        height: 400px;
    }
    .step{
        display: none;
    }
    .steps{
        flex-direction: column;
        gap: 20px;
    }
    .one{
        width: 300px;

    }
    .container img{
        height: 50vh;
        width: 30vw;
       
    }
    .extra{
        display: none;
    }
    
}